<div class="p-4 bg-white rounded-lg h-[calc(100vh-64px)] overflow-y-auto border border-gray-200 
shadow-sm"
>

    <h2 class="text-xl font-medium elements-menu"
        >Form Elements</h2>
    <div class="flex flex-col gap-4"
        cdkDropList
        cdkDropListSortingDisabled="true"
        [cdkDropListData]="'field-selector'"
        [cdkDropListEnterPredicate]="noDropAllowed"
    >
    @for (fieldType of fieldTypes; track fieldType.type) {
        <app-field-button [field]="fieldType"></app-field-button>
    }
    </div>
</div>
